<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurants List</title>
  <link rel="stylesheet" href="/stylesheets/fonts.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
  <header>
    <div class="logo">
      <a class="logo-link" href="/restaurants">
        <i class="fa-solid fa-utensils"></i>
      </a>
    </div>
  </header>
  <main>
    {{{body}}}
  </main>

  <script src="https://kit.fontawesome.com/6fb9682f78.js" crossorigin="anonymous"></script>
  <script src="/javascripts/index.js"></script>
</body>

</html>