:root {
  --header-height: 70px;
}

* {
  box-sizing: border-box;
  font-family: 'Fira Code', 'Roboto', 'Roboto Mono', 'Noto Sans TC';
}

body {
  margin: 0;
  background-color: #faedcd;
}

header {
  width: 100%;
  height: var(--header-height);
  background-color: #d4a373;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
}

/* message */
.message,
.error {
  width: max-content;
  margin: 0 auto;
  padding: 5px;
  border: 2px solid #353535;
  border-radius: 8px;
  position: absolute;
  left: 0;
  right: 0;
}

.message {
  background-color: #219ebc;
}

.error {
  background-color: #d62828;
}

.nav-left {
  width: 50%;
  padding-left: 20px;
}

/* home button */
.logo {
  width: 40px;
  aspect-ratio: 1/1;
  background-color: #ee9b00;
  border-radius: 50%;
  border: 2px solid #353535;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-link {
  color: #353535;
}

.nav-right {
  width: 50%;
  display: flex;
  justify-content: end;
}

/* sign button */
.sign {
  width: 160px;
  height: 40px;
  margin: auto 20px auto 0;
  background-color: #8d99ae;
  border-radius: 10px;
  border: 2px solid #353535;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.5s;
}

.sign-in,
.sign-up {
  padding: 1px 6px;
  width: 50px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #353535;
  background-color: #3a86ff;
  border-radius: 10px;
  border: 2px solid #353535;
}

.sign-in:hover,
.sign-up:hover {
  cursor: pointer;
  filter: brightness(1.5);
  color: black;
  border: 2px solid black;
}

/* profile dropdown */
.profile-dropdown {
  margin-right: 20px;
}

.profile-dropdown:hover .dropdown-content {
  display: block;
}

.profile-avatar {
  width: var(--header-height);
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown-content {
  min-width: 160px;
  background-color: #a98467;
  border: 1px solid #353535;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  display: none;
  position: absolute;
  right: 0;
}

.dropdown-content a {
  padding: 12px 16px;
  color: #353535;
  font-weight: 700;
  border: 1px solid #353535;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #ffddd2;
  filter: brightness(90%);
}

.logout {
  width: 100%;
  padding: 12px 16px;
  background-color: transparent;
  color: #353535;
  font-weight: 700;
  font-size: 16px;
  border: 1px solid #353535;
  cursor: pointer;
}

.logout:hover {
  background-color: #ffddd2;
  filter: brightness(90%);
}

main {
  width: 1000px;
  padding: 20px;
  margin: calc(var(--header-height) + 20px) auto 20px auto;
  background-color: #ddb892;
  border-radius: 16px;
  border: 2px solid #353535;
}

.modal-bg {
  height: 100vh;
  width: 100%;
  background-color: hsla(0, 0%, 100%, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.modal {
  width: 380px;
  height: 400px;
  padding: 10px;
  background-color: #DDB892;
  border: 2px solid #353535;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal-form div {
  height: 55px;
}

.modal-form div label {
  width: 70px;
  text-align: center;
  display: inline-block;
}

.modal-form div input {
  border: 2px solid #353535;
}

.modal-close {
  width: 20px;
  height: 20px;
  border: 2px solid #353535;
  background-color: #a98467;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  left: 15px;
}

.modal-name {
  margin: 0 0 20px 0;
  text-align: center;
}

.modal-submit {
  width: 100%;
  border: 2px solid #353535;
  background-color: #a98467;
  cursor: pointer;
}

.hide {
  display: none;
}